*{
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding: 0;
    background-color: #10131b;
}
.navbar {
    padding: 0;
    position: absolute;
    background-color: #4C5958;
    width: 100%;
    line-height: 2rem;
}
header{
    width: 100%; 
    padding: 15rem 2rem;
    background-image:url(assets/img/hero.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;       
}
header h1 {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    size: 28px;   
}

/* about me */
.about-container{
    /* padding: 30px 30px; */
    padding: 7rem 2rem;
    color: #cac5c5;  
    text-align:justify; 
}
.container {
    text-align: justify;
}
.about-container img {
    border-radius: 40px;
}
section article img{
    width: 25rem; margin: auto;
}
.container {
    width: 400px;
    margin: 0 auto;
}
.container h2{
    padding-bottom: 1.0rem;    
    color: #cac5c5;   
}
.container h5 {
    display: flex;
    justify-content: center;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
} 
/* INTERSECTION OBSERVER */
.container .post{
    opacity: 0;
    transform: scale(0.9);
    transition: .7s ease-in-out all;
    background-color: #21242b;
    color: #cac5c5;
}
.post img {
    width: 100%;
    height: 15rem;
}
.post.visible {
    opacity: 1;
    transform: scale(1);
}

section article:hover {
    box-shadow: 0 0.2rem 0.4rem rgb(219, 73, 73)
}section article h2, section article p {
    margin: 1rem ;
}
/* Footer */
footer{
    margin-top: 2rem;
    background-color: #101217;
    padding: 2.5rem;
    color: #cac5c5;    
}
footer section {
    float: right;
    justify-content: space-around;
}
footer p {
    margin: 0;
}
footer a {
    transition: color 0.3s ease;
    color: #cac5c5;
    text-decoration: none;
    padding-left: 1.2rem;
}



